body
{
    background: #003;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    background-color: #0000889f;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
}
form input
{
    background-color: #0000aaa0;
    flex-basis: 200px;
    padding: 5px 10px ;
    color: #fff;
    border: none;
    outline: none;
    flex-grow: 1;
}
form button
{
    background-color: #14a;
    color: #fff;
    border: none;
    flex-basis: 30px;
    padding: 5px 10px;
    flex-grow: 1;
    cursor: pointer;
}